* {
    box-sizing: border-box;
}

:root {
    --background: #fff;
    --foreground: #111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #111;
        --foreground: #fff;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--background);
}

main {
    width: 100vw;
    height: 100lvh;
    display: grid;
    grid-template-areas: "pane";
}

.content {
    width: 60%;
    max-width: 25rem;
    max-height: 100%;
    margin: 0 auto;
    grid-area: pane;
    align-self: center;
    justify-self: center;
}

h1 {
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: calc(min(4vw, 1.8rem));
    font-style: normal;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.66em;
    text-indent: 0.66em;
    color: var(--foreground);
    opacity: 0;
    filter: blur(8px);
    animation: title 2.5s 3s forwards ease-out;
}

#base {
    transform-origin: center;
    animation: base 1s 0s forwards ease-out;
}

#top {
    animation: top 2s 1s forwards ease-out;
    opacity: 0;
}

@keyframes base {
    0% {
        transform: translateY(100%);
        opacity: 0;
        filter: blur(8px);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes top {
    0% {
        transform: translateY(150%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes title {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
